.head{
    margin-bottom:-30px;
}
.container-fluid{
    margin-top:25px;
}
  
 
  .row.content {
    height: 450px
  }
  .row.content ul{
    display: inline;
  }
  .row.content ul li{
    list-style-type: circle;
    font-weight:100;
    color: black;
    margin-left:30%;

      
  }
  .well{
    margin-top:25px;
    background-color:transparent;
  }
  .btn{
    margin-left: 10px;
   height:35px;
    width:65px;
  }
  .buttonlists{
    margin-left:205px;
    margin-top: 20px;
    border-left:10px;
  }
  
  .attribute{
    font-size: 15px;
    color: #f4511e;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

      
  }
  
  
  .sidenav {
    padding-top: 10px;
    background-color: white;
    height: 100%;
   
  }

  

  @media screen and (max-width: 767px) {
    .sidenav {
      height: auto;
      padding: 15px;
    }
    .row.content {height:auto;} 
  }